p{
    color: violet;
    background-color: azure;
}
.compParagrafo{
    color: tomato;
    background-color: black;
}

.red-title{
    background-color: beige;
    color: tomato;
    font-size: 45px;
    padding: 10px;
    border: 2px solid ;
}
.title{
    background-color: beige;
    color: chartreuse;
    font-size: 20px;
}